<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    FeedBack Form
  </title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
  <link rel='stylesheet' href='./Content/app.css' />
  
</head>

<body>

<div class="container">


  <div class="row justify-content-md-center">
      <div class="col-md-4 col-md-offset-4">
   
          <form class="form-horizontal" action="/thankyou" method="post">
          <fieldset>
            <legend class="tite text-center"> <%= title %></legend>
    
            <!-- First Name input-->
            <div class="form-group">
              <label class="control-label" style="
    padding-left: 0px; for="name">First Name</label>
              
                <input id="name" name="name" type="text" placeholder="First Name" class="form-control" required>
              
            </div>

            <!-- Last Name input-->
            <div class="form-group">
              <label class="control-label" style="
    padding-left: 0px; for="name">Last Name</label>
              
                <input id="lastname" name="lastname" type="text" placeholder="Last Name" class="form-control" required>
              
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="control-label" style="
    padding-left: 0px; for="email">Your E-mail</label>
             
                <input id="email" name="email" type="text" value = <%= email %> placeholder="Your email" class="form-control" readonly>
              
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <label class="control-label" style="
    padding-left: 0px; for="message">Your message</label>
              
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              
            </div>

            <div class="form-group">
             <label for="col-md-3 control-label" for="sports">Favourite Sports</label>
        <select class="form-control" id="favouriteSports" required>
              <option>Cricket</option>
              <option>Football</option>
              <option>Tennis</option>
    </select>
  </div>
  <div class="form-group">
    <label for="control-label">Favourite Subjects</label>
    <select multiple class="form-control" id="favouriteSub" required>
      <option>Mathematics</option>
      <option>Science</option>
      <option>Computer Science</option>
      
    </select>
  </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>

</div>

    

<!-- JavaScript Section -->
<script src="./jquery/dist/jquery.min.js"></script>
<script src="./bootstrap/dist/js/bootstrap.min.js"></script>

<script src="./Scripts/core/app.js"></script>
</body>

</html>
